.view-content {
  display: flex;
  flex-wrap: wrap;
}
.view-content > .views-row {
  display: flex;
}

#block-belgrade-facets-categories-content .facets-widget- ul {
  padding-left: 0.1em;
}

.form-item-purchased-entity-attributes-attribute-color_radio label.option {
  font-size: 15px;
  line-height: 22px;
}
